# This defines the name of the workflow as it will appear in the "Actions" tab of the GitHub repository.
name: 'CI'

on: [push]

jobs:
  checks:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: Linter
      run: bundle exec rubocop --format github
